<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <link href="/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/main.css" rel="stylesheet"/>
        <link href="/css/rm.css" rel="stylesheet"/>

    <title>Upload file</title>
        <!-- icon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/icon/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/img/icon/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png"/>
        <link rel="manifest" href="/img/icon/manifest.json"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/img/icon/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>
        <!-- icon -->
</head>
<body>
    <section class="upload">
        <div class="container">
            <div class="section1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m1 ">
                            <nav>
                                <ul class="menu d-flex justify-content-end" >
                                    <li class="menu__item magic" >
                                        <a th:href="@{/upload/events/view}">Events</a>
                                    </li>
                                    <li class="menu__item magic" >
                                        <a th:href="@{/upload/files/view}">Files</a>
                                    </li>
                                    <li class="menu__item magic">
                                        <a th:href="@{/upload/reports/view}">Reports</a>
                                    </li>
                                    <li class="menu__item">
                                        <a onclick="nBar(this)">Log</a>
                                    </li>
                                    <li class="menu__item ">
                                        <a th:href="@{/logout}">
                                            <div class="out d-flex align-items-start">
                                                <img class="logout" src="/img/out.svg" alt="Kiwi standing on oval"/>
                                                <span class="rm">Sign out</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <script src="/scripts/scripts.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form d-flex align-items-center justify-content-center">
                        <div class="uploadForm d-flex flex-column justify-content-center">
                            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                                <form class="pdfForm d-flex flex-column justify-content-center" method="POST" enctype="multipart/form-data" action="/upload/files">
                                    <!-- <p>Please indicate the year:</p> -->
                                    <input class="year" type="text" value="" name="year" placeholder='Please indicate the year' />
                                    <div class="rectangle d-flex flex-column justify-content-center ">
                                        <p>Select files to upload:</p>
                                        <input type="file" multiple="multiple" name="files" />
                                    </div>
                                    <input class="up" type="submit" value="Upload" />
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                <div class="footer d-flex justify-content-center">© Knuca Legacy 2018, All rights reserved.</div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
